.card {
	border: 3px solid #ccc;
	border-radius: 4px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 450px;
	min-height: 200px;
	position: relative;
}

.quizTitle {
	font-weight: bold;
	font-size: 24px;
}

.quizDescription {
	font-size: 20px;
	margin-bottom: 20px;
}

.quizDetail {
	font-size: 18px;
	color: blue;
}

.quizMenu {
	display: flex;
	width: 410px;
	background-color: transparent;
	justify-content: end;
	border: none;
	padding: 0;
	position: absolute;
	top: 5;
	right: 5;
}

.buttonMenu {
	display: flex;
	font-weight: bold;
	font-size: 30px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 5;
	left: 5;
	z-index: 2;
}

.quizMenuList {
	display: flex;
	flex-direction: column;
	gap: 6px;
	border: none;
	justify-content: flex-end;
	width: 70px;

}

.menuOpen {
	position: absolute;
	top: 5;
	right: 5;
	z-index: 1.5;
}

.quizMenuElement {
	font-size: 16px;
	font-weight: 500;
	color: black;
	cursor: pointer;

	&:hover {
		color: blue;
	}
}

.buttonDelete {
	font-size: 16px;
	margin-left: 0;
	padding: 0;
	font-weight: 500;
	color: black;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;

	&:hover {
		color: blue;
	}
}